<!-- details view for the banneritem editor-->
<br/>
<br/>
<h2>Details of <%= title %></h2>
<br/>
<br/>
<script>
	window.onload = function(){ 
	 document.title = "Banner Item Details"; 
 }
   </script>
<table class="table table-hover table-bordered">
    <thead>
      <tr>
       <th>ID</th>
       <th>Description</th>
       <th>Start Date and Time for Banner Display</th>
       <th>End Date and Time for Banner Display</th>
       <th>Priority</th>
       <th>Link</th>
       
    </tr>
    </thead>

        
    <tbody>
        <tr>
                <td><%= BannerItem._id %></td>
                <td><%= BannerItem.description %></td>
                <td><%= BannerItem.startDate%> <%= BannerItem.startTime%></td>
                <td><%= BannerItem.endDate %> <%= BannerItem.endTime%></td>
                <td><%= BannerItem.priority %></td>
                <td><%= BannerItem.link %></td>
        </tr>
</tbody>
</table>

<br/>
<form method="get" action="/banneritem">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>