<!-- Edit view for banneritem editor, allows user to edit the banneritems-->
<br />
<h2>Edit
	<%= title %>
</h2>
<!-- gives the page a title and will be used to test that the page loads properly-->
<script>
	window.onload = function(){ 
	 document.title = "Banner Item Edit"; 
 }
   </script>

<!--Provide usage information -->
<h3>Information</h3>
<ul>
	<li><b>Description:</b> Place the message that you would like to display on the home page in this box</li>
	<li><b>Start Date for Banner Display:</b> Use the button on the right side of the box to select the date that you would like the banneritem to start being displayed</li>
	<li><b>Start Time:</b> Use the button on the right to specify the time of the day that you would like the banner item to start being displayed on the start date.</li>
	<li><b>End Date for Banner Display:</b> Use the button on the right side of the box to select the date that you would like the banneritem to stop being displayed</li>
	<li><b>End Time:</b> Use the button on the right to specify the time of the day that you would like the banner item to stop being displayed on the stop date.</li>
	<li><b>Priority:</b> Mark this check box to indicate that the banner item should be of higher importance and placed above other messages. Leave blank to not prioritize your post.</li>
	<li><b>Link:</b> Paste in a url to a link that you would like direct the users to if they click on the banner item. Leave blank if you only want to display text and not link to another site</li>
  </ul>
<br />
<!-- form for the user to fill to edit the data-->
<form method="POST" action="/banneritem/save/<%= BannerItem._id %>">
	<!--set up the table and insert data by the field titles -->
	<table class="table table-hover table-bordered">
		<tr>
			<th>ID</th>
			<td>
				<%= BannerItem._id %>
			</td>
		</tr>
		<tr>
			<th>Description</th>
			<td><input type="text" class="form-control" id="Description" name="description" value="<%= BannerItem.description %>" required>
				</input></td>
		</tr>
		<tr>
			<th>Start Date for Banner Display</th>
			<td>

				<div class="input-group datepick1">

					<input type="text" class="form-control" name="startDate" id="startDate" value="<%= BannerItem.startDate %>"
					 required>
					<div class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</div>
				</div>
				</div>
				<!-- jquery datetimepicker for startDate on this page-->
				<script>
					$(document).ready(function () {
						$('.datepick1').datetimepicker({
							format: 'MM-DD-YYYY',
							ignoreReadonly: true
						});
					});

				</script>
			</td>
		</tr>
		<tr>
			<th>Start Time</th>
			<td>

				<div class='input-group date' id='datetimepicker3'>
					<input type='text' class="form-control" id="startTime" name="startTime" value="<%= BannerItem.startTime %>"
					 required />
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-time"></span>
					</span>
				</div>
				<!-- jquery datetimepicker for startTIme on this page-->
				<script type="text/javascript">
					$(function () {
						$('#datetimepicker3').datetimepicker({
							format: 'LT'
						});
					});
				</script>

			</td>
		</tr>
		<tr>
			<th>End Date for Banner Display</th>
			<td>

				<div class="input-group datepick2">

					<input type="text" class="form-control" name="endDate" id="endDate" value="<%= BannerItem.endDate %>" required>
					<div class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</div>
				</div>
				</div>
				<!-- jquery datetimepicker for endDate on this page-->
				<script>
					$(document).ready(function () {
						$('.datepick2').datetimepicker({
							format: 'MM-DD-YYYY',
							ignoreReadonly: true
						});
					});

				</script>
			</td>
		</tr>
		<tr>
			<th>End Time</th>
			<td>

				<div class='input-group date' id='datetimepicker4'>
					<input type='text' class="form-control" id="endTime" name="endTime" value="<%= BannerItem.endTime %>" required />
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-time"></span>
					</span>
				</div>
				<!-- jquery datetimepicker for endTime on this page-->
				<script type="text/javascript">
					$(function () {
						$('#datetimepicker4').datetimepicker({
							format: 'LT'
						});
					});
				</script>
			</td>
		</tr>
		<tr>
			<th>Priority</th>
			<td><input id="priority" class="form-control" type="checkbox" name="priority" <%=BannerItem.priority ? "checked" :
				 "" %>> </input></td>
		</tr>
		<tr>
			<th>Link</th>
			<td><input type="text" class="form-control" id="link" name="link" value="<%= BannerItem.link %>"> </input></td>
		</tr>
		<!-- Check to ensure that the user entered proper start date and end date times so that the banner item is displayed for some period of time-->
		<script>
			function checkTimes() {
				console.log("checktimes called");
				var sd = document.getElementById("startDate").value;
				var st = document.getElementById("startTime").value;
				var start = sd + " " + st
	
				var ed = document.getElementById("endDate").value;
				var et = document.getElementById("endTime").value;
				var end = ed + " " + et
	
				var startDate = new Date(start);
				var endDate = new Date(end);
				if (startDate<endDate){
					// start date is before end date
					document.banneritemform.submit();
				}else{
					//start date is after end date, need to fix your times.
					alert("End Date and Time is before Start Date and Time. Fix the End Date and Time. ");
					return false;
				}
	
			}
		</script>
		<!--Save the item -->
		<tr>
			<td colspan="2">
				<div class="row">
					<div class="col-md-2">
					</div>
					<div class="col-md-5">
						<button type="submit" id="btn" class="btn btn-caution" onclick="return checkTimes();">Save this item</button>
					</div>
				</div>
			</td>
		</tr>
	</table>
</form>